body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-align: center;
    background: #F4F4F4;
    min-width: 650px;
}

.head {
    background: #6943FF;
    background-size: cover;
    margin: 0px;
    padding-top: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    color: white;
    font-weight: 800px;
    font-size: 28px;
    margin: 30px;
    
}

input {
    width: 117px;
    height: 87px;
    background: none;
    border: 2px solid #B295FF;
    border-radius: 5px;
    color: white;
    font-weight: 800px;
    font-size: 58px;
    text-align: center;
}

input:hover {
    border: 2px solid white;
}

button {
    background: none;
    color: white;
    margin: 27px 0px 34px 0px;
    padding: 9px 27.5px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow:  0px 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 500;
    font-size: 16px;
}

button:hover {
    color: #6943FF;
    background: white;
    border: 2px solid white;
}

.result {
    background: white;
    padding: 18px 77px;
    margin: 24px 25px;
    text-align: center;
}

h3 {
    font-weight: 600;
    font-size: 20px;
}

p {
    font-weight: 400;
    font-size: 14px;
    
}